<!DOCTYPE html>
<html>
  <head>
    <title>EmailsReport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'includes/navbar' %>
    <div class="container">
      <%= yield %>
    <%= render 'layouts/scripts' %>
    </div>
  </body>
</html>
